-# _movie_form.html.haml (the partial)

= label :movie, :title, 'Title'
= text_field :movie, 'title', @movie.title

= label :movie, :rating, 'Rating'
= select :movie, :rating, ['G','PG','PG-13','R','NC-17'], @movie.rating

= label :movie, :release_date, 'Released On'
= date_select :movie, :release_date, @movie.release_date
